@font-face{
    font-family: "TT Norms Bold";
    src: url(../fonts/TTNorms-Bold.ttf);
    src: url(../fonts/TTNorms-Bold.ttf) format(ttf);
}

@font-face{
    font-family: "TT Norms Medium";
    src: url(../fonts/TTNorms-Medium.ttf);
    src: url(../fonts/TTNorms-Medium.ttf) format(ttf);
}

@font-face{
    font-family: "TT Norms Regular";
    src: url(../fonts/TTNorms-Regular.ttf);
    src: url(../fonts/TTNorms-Regular.ttf) format(ttf);
}